{% extends "base.html" %}
{% block content %}

<form action="/products/{{product.id}}" method="post">
    <div>
        <label for="manufacturer_id">Manufacturer:</label>
        <select id="manufacturer_id" name="manufacturer_id">
            {% for manufacturer in all_manufacturers %}
            <option value="{{ manufacturer.id }}"
            {% if product.manufacturer.id == manufacturer.id %} ### FIXED LOOP WITH BRACKETS
            
                selected="selected"
            
            {% endif %}>
                {{ manufacturer.name }}
            </option>
            {% endfor %}
        </select>
      </div>
    <div>
        <label for="title">Name:</label>
        <input type="text" id="title" name="title" value="{{product.title}}" required placeholder="Enter the title for the product">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{product.description}}" required placeholder="Enter the description for the product">
    </div>
    <div>
        <label for="stock quantity">Stock Quantity:</label>
        <input type="integer" id="stock_quantity" name="stock_quantity" value="{{product.stock_quantity}}" required placeholder="Enter the stock quantity for the product">
    </div>
    <div>
        <label for="buying_cost">Buying Cost:</label>
        <input type="integer" id="buying_cost" name="buying_cost" value="{{product.buying_cost}}" required placeholder="Enter the buying cost for the product">
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="integer" id="selling_price" name="selling_price" value="{{product.selling_price}}" required placeholder="Enter the selling price for the product">
    </div>
<button type="submit">Update Product</button>
</form>
{% endblock %}