{% extends "base.html" %}

{% block content%}

{% for product in product_list%}
    <div class="product">
        <div class="productManufacturerName">
            {{product.manufacturer.name}}
        </div>
    <div class="title">
        <a href="/products/{{product.id}}">{{product.title}}</a>
    </div>
    <div class="description">
        <<a href="/products/{{product.id}}"> {{product.description}} </a>
        <span> 
            <a href="/products/{{product.stock_quantity}}"></a>
            {% if product.stock_quantity < 10 %}
            <p> LOW STOCK! </p> 
            {% endif %} </span>
    </div>
    </div>
{% endfor %}
{% endblock %}