{% extends "base.html" %}

{% block content%}

{% for product in product_list%}
    <div id="container">
        <div class="product_container">
            <div class="title">
                <h2>Product Name: </h2> <a href="/products/{{product.id}}">{{product.title}}</a> 
            </div>
            <div class="productManufacturerName">
                <h3>Manufacturer Name: </h3> {{product.manufacturer.name}}
            </div>
            <div class="description">
                <h3>Product Description: </h3> {{product.description}}
            </div>
            <div class="stock_quantity"> 
                <h3>Stock Level: </h3> {{product.stock_quantity}} 
    </div>
                    {% if product.stock_quantity > 0 and product.stock_quantity < 10 %}
                        <span> LOW STOCK! </span> 
                    {% elif product.stock_quantity < 1 %}
                        <span> <b>OUT OF STOCK!</b></span>
                    {% endif %}
            </div>
        </div>
    <hr>
{% endfor %}
{% endblock %}