{% extends "base.html" %}

{% block content%}

{% for product in product_list%}
    <div class="product">
        <div class="title">
            <h2>Product Name: </h2> <a href="/products/{{product.id}}">{{product.title}}</a> 
        </div>
        <div class="productManufacturerName">
            <h3>Manufacturer Name: </h3> {{product.manufacturer.name}}
        </div>
        <div class="description">
            <h3>Product Description: </h3> {{product.description}}
        </div>
        <div class="stock_quantity"> 
            <h3>Stock Level: </h3> {{product.stock_quantity}} 
            {% if product.stock_quantity < 10 %}
                <p> LOW STOCK! </p> 
            {% endif %}
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}