header {
    display: flex;
    justify-content:space-between;
    align-items: center
}
.Menu {
    display: flex;
    list-style-type: none;
    margin: 35px
}

.Menu li {
    margin-right: 20px;
}

.Menu li:first-child {
    margin-left: 0;
}

.Menu li:not(:last-child) {
    margin-right: 10px;
}
body{
    background-color: whitesmoke;
    color: black
}
body{
    margin: 20px
}
body > header {
    background-color:rgb(57, 57, 57);
    color: whitesmoke
}
body > header > h1 {
    margin-left: 10px
}
body > header > h1 > b{
    color: rgb(224, 94, 94)
}
body > header > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu li a {
    color: whitesmoke;
}
.product_container .title a {
    color: rgb(88, 36, 245);
}

.container2 {
    margin-top: 10px
}
#container h2,
#container p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#container h3,
#container p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.product_container span{
    color:red
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
        background-color: rgb(57, 57, 57);
        color: whitesmoke;
        padding: 10px;
        left: 20px;
        right: 20px;
        bottom: 0;
    }
footer > p {
    color: whitesmoke;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advanced_options {
    margin-top: 20px
}
.advanced_options > p {
    color: red
}