<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Lighting Store</title>
</head>
<body>
    <header>
        <h1> <b>SMC </b>Electrical&trade;</h1>
        <p> <i>"Just an attractive man, selling attractive lighting products" - Forbes</i></p>
        <nav>
            <ul class="Menu">
                <li><a href="/"> Home </a></li>
                <li><a href="/products"> Products</a></li>
                <li><a href="/manufacturers"> Manufacturers</a></li>
                <li><a href="/products/new"> Add product</a></li>
                <li><a href="/manufacturers/new"> Add manufacturer</a></li>

        </nav>
    </header>
    <div class="accomodateFooter">
        <div class="container2">
            {% block content %}
            {% endblock %}
        </div>
</body>
    </div>
<footer>
    <p> Thank you for visting this website </p>
</footer>
</html>